apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      volumes:
        - name: shared-tmp
          persistentVolumeClaim:
            claimName: ping-pong-pv-claim
      containers:
        - name: ping-pong-app
          image: ping-pong-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: shared-tmp
              mountPath: /tmp
