apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: europe-north1-docker.pkg.dev/dwk-gke-479211/my-docker-repo/ping-pong-app:v3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: ENC[AES256_GCM,data:G7Un9QDbHLWzhs80BbCRMjWrkK1oh4/xGsJBSPRiOXVUi8LjVelZB92dpWFbD95wRwRukvowDiz1k8DxT3PMdNJ3Jmv2OBTbnaxQ,iv:mMxfbHinn0xtxm85h9uPvJc7qsfBm//ucZJutwsMXsw=,tag:gucqidAqwjp5caB7fRwLKA==,type:str]
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1bnZwMjd1a3hrRWR4d2FW
        UUE2enRpZ1pJQVd1ajRVYThkTUQ5b3J5eWdVCkY3Syt1djdUSFlmZ21IdG1DLzVS
        NGFFVzd5ZHM2NUZDRmFXbmkwWVVwZmMKLS0tIGNHSldPSldkZ2tGM1pucXUrTkxY
        ZkhjdWZMa1k2VFkySUpGMEhZQkpPYnMKOGv8OGAPjocuOnTOBtu5hTfBa4HuQJWs
        p1355GPs15HoDEBYHqRln1xbPLcFgoD6d3XgR5TZ/Ywz6tn7D/0Sjg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-14T16:08:09Z"
  mac: ENC[AES256_GCM,data:yEjSjIKKVAsFVw5PAEpq0sAMWY4T1ZV+uoG0xEQNekR84W3++JbA94pXWK94930/13XvarqN26vyemtCPxLbK5IwGF+uDiuFEvNWfj2NMikT7LJ589wOT3CHn9G3DRsLIuK8QycUdYKmtLPHfGo61KqjHgVTFzVJagz+yphSDbk=,iv:xwhcChQ1j/AdBySfmx67tcChk17DSECbe58amTKbmjQ=,tag:kMDf4mTDbiekrFXSCRWlYw==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
