apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: europe-north1-docker.pkg.dev/dwk-gke-479211/my-docker-repo/ping-pong-app:v3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: ENC[AES256_GCM,data:QuhyXJhs/ps8Vi5yx3WKKYZz9ZOPtss4CBA1BJsdUBC/+jch1N9/o/66AFTawvIBrmx2nhLIvBLfw9xOwqfgeMVClvDeAeI=,iv:3BKVqLgmKHUr3DfRy5ihUJtot8sitH4ip2BB7DUjIMg=,tag:S4ZEDmE9ihbp3NJWxYW04A==,type:str]
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB0cjNLSXJhUEpLR085ZFdm
        VXlTazlXeWJudHpkL3BLMDVQVlNCenNmblR3Ck5McGY5bkMydkdUT0NpUy9Wc3Vw
        TU9QWTFNR3ltQjA3MU45ODVNdWt2ZVEKLS0tIFNYNDJyczZiR0NobGpONUUva0pa
        dTFhaXFzVkY1Yk9yd2hCdTREZjFpWDAK8NZhLvyHTnYhvTzur+jifH9cGmIqOKQr
        msKcvw5CSbEECnwM8Vf/DmmSSWGKwa/PZwWgQzgYZ+T+Y972LRztrg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-09T15:16:30Z"
  mac: ENC[AES256_GCM,data:JDpfns+D8eGnl8S7nw7jvpPgel7k0sWlvEGwz8iv9Ahzr17EA/7e5ucfqzfTc99Y2oBXSuLiPiS8lOvodxptnk28Ilbz9BsSTLcFK9XnpdELnjHrcbZ8N78FalzM7pzV0hHYACS7WfqtgjcMLO52/hqDoaVGKgAdjM/SboIbO+Y=,iv:ZX13U6ppQlB0iemd6H7pQW73qoVe8IVTMwPVcqBtrmQ=,tag:4IDrL4p4do+7JT0gvSnCvw==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
