<!DOCTYPE html>
<html>

<head>
    <title>The project App</title>
</head>

<body>
    <h1>The project App</h1>

    <img src="/image" alt="Random image" width="200" height="200" />

    <div class="todo-input-container">
        <form action="/posts" method="post">
            <input type="text" name="body" placeholder="What needs to be done?">
            <button type="submit">Create todo</button>
        </form>
    </div>

    <ul>
        {{range .Posts}}
        <li>{{.Body}}</li>
        {{end}}
    </ul>

    <div class="footer">
        DevOps with Kubernetes 2025
    </div>

</body>

</html>