apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong-dep
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong-app
  strategy:
    canary:
      steps:
        - setWeight: 25
        - pause:
            duration: 10s
        - setWeight: 50
        - analysis:
            templates:
              - templateName: pp-cpu-rate
        - pause:
            duration: 10s
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: PING_PONG_APP
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: ENC[AES256_GCM,data:KOGuZaio9WWeYg6OCm3rpYSVp10bhaWX0Pw80+FvIOAm1/DpBf0ixhZqClu43QAf0F/dy4Hb9MruDqlOotWxAaFxh1RRHT8=,iv:GFTOKCcJtuAWbhRfFsyoYWqnE6m6WsTLBz6jKJbXQjY=,tag:78pd/fhr4BrENXBl2k36XA==,type:str]
          readinessProbe:
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
          startupProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 5
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBEMUZvQTBRb0UwaTRZV1Bz
        TGlXeEhIWXJaY1lhUWowWjBOWFR0YUFaSEdNCnpNZ211K0xjUG9hK0Z3V251bGhD
        ZEoydjArM0l1OGFWeVVUWWcrOEZvOVkKLS0tIDcxcWVSYk9QdllpQVkrZWtzczAr
        cHlPa1FuL1BDS1NSbDFGL0ZjYzdMVWcK2EKNZ7wsm3i10f8fQewnNakwWraRbMMb
        Y3cSw9uSlrM0uRZNl6geyHL/wupxOaPRpeEp3hlJazL8EwlGuQdBjg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-14T15:53:09Z"
  mac: ENC[AES256_GCM,data:ZQyPuXfSxC1ucQk3Iiolifu47Xc1N6EpSt4/UvukNAUulssu0t8obyDsfpX+wfvZeqx3Zpa9GoFPr9SiGZu6ToTRDlNzKJFWfktC5VgkejMoW1yI2ce+5qbL+dNJpSxYgjEPuER3TlB+kd8/CQ1NPD8ZIAnn4pCEZh1Cf7+o/68=,iv:N3247IarD8xk+df/kr5w446UcuPg764/7awnMCU+Yes=,tag:uEsOavJYTSSnieL6FyoOww==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
