apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong-dep
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong-app
  strategy:
    canary:
      steps:
        - setWeight: 25
        - pause:
            duration: 10s
        - setWeight: 50
        - analysis:
            templates:
              - templateName: pp-cpu-rate
        - pause:
            duration: 10s
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: PING_PONG_APP
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: ENC[AES256_GCM,data:pkY1htQKH1YFbpOZcXAptYjGkz5q4UNf6fa4Q0+rgPowwtDuv6iohQzRxMch4p31/AmdN1wcz4RCTgtadfznHkoOXrZpNxeU/f8S,iv:im9FxvVYTsOo3W/zJ6U8MFd7MfPxgK+2htCj0cEz7yM=,tag:Uq0E7re5zxbqEeG6hLmm8g==,type:str]
          readinessProbe:
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
          startupProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 5
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpOUQzR1FPb0FTbmxjd2Uw
        M2dmbXVubVNkdEVFUU5QeCtHKzhBTG5LSmdjCmJQbloyZUwrRGdnV085SGFkRjRL
        b0JyaEZJVmhLa014UWtRQThLQWdxVHMKLS0tIHd5RytJOHZTdElEaklYbU9HYVlQ
        VVh3V1Q3MlBSVk5lK1hHc0xreXVSMEEKVpDPmuF339+0MYDTYGNfbeKBxG22x89m
        iQmIv1vxu/SxTxgfcY+vhNJPzjkGf4nxFu2xJaBWkIZ88OYTnvSELg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-14T16:08:09Z"
  mac: ENC[AES256_GCM,data:VtnzUVvVPL5wZ8JG1IAD19loK3vsN6+Z5bp63TagjP+57GjnrGQIsXpFxMAJN/bbcj3GLuHmLsZYzlgPeA7rggOsefWu9hRDUzJpBnsjz2R/CwAIDgBT9mYgIOwlvArR7OXp1vcWmdcl+pUvUrV/R6Oh9PpHtiWgkQjCjmy099E=,iv:FNHonrPiZr/W5MBFQd/SgbQ6QI46oF8P70ID9G5pXlA=,tag:MqiWRvCrZKs8qpzvrUmorQ==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
