apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: ping-pong-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: ENC[AES256_GCM,data:b0ZUncew3cZ39YoQb8ttdtpndxgkoWno16DzbOlCGFxavFeNs3HoydGvOaaOdBAxLlt8bUdUxygaapLZhhiIZ2kFAU0Var4=,iv:y4XwEBl1+OD3LNlKHDyDmRYMkOsIeEbFWxTyNigsAL4=,tag:9LXePR1eyqZTVB8RG8/Jqg==,type:str]
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoRHJVTFE1bXBoUkVGV09E
        eCtHNWdHZTFac0hnZTBJNFFXWld2ZGtjSEFFCjc1b2FmOWU4c0RXU0crWGpEUENG
        SVZBbnhXTlRwYTc0a2lrVUcrUitzTlEKLS0tIFBhTzBtWGRoakJyTTVHdkhJNGhC
        VHluQkhkSStUZzN6ZElJWURJa1FUbzQKQNWxVWCXfzHU/27zwp5r4kLcKuZInTP5
        he9wXikMdSlTUzNODoe1AZlay2K2G4QvnPbsBBWTP3k5MygPdHRzvw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-01T16:32:37Z"
  mac: ENC[AES256_GCM,data:IpfRb3+9ZJM9rjQzngoVZxuZk2VFN6+87Ni+gi0NlqGQo1D7T/JQQy7nJleUSzZB7XU1rvIpSkhJhU9FMwX/6WU7cOTHIRI3j9IZ4izMG3T3FR3AbnkiWmDpKjmHzXAKrt5UlfIkbjG/S8xkLhgRafcFXeTS6HcoUny8I0KhJBg=,iv:6hG0BKOkpZO7sL99Wy40lKPgmKlRLqECefdEh4Q4EPU=,tag:xrp5gEV4dSKp22cGvAvckQ==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
