apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong-app
  strategy:
    canary:
      steps:
        - setWeight: 25
        - pause:
            duration: 10s
        - setWeight: 50
        - analysis:
            templates:
              - templateName: pp-cpu-rate
        - pause:
            duration: 10s
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: PING_PONG_APP
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: ENC[AES256_GCM,data:9iI9D058sK14JlpH9MDr158KydCzWFDq47cc1hiMzkvHPfgvWuLTrOdZK5FOK6y6vGtji6A+hgzNXAZWiUyTUuYyXETKwDc=,iv:7Eps7zfGwEE/gnNLVa+rlYDPxMDFabfYSYAL2pIpXqI=,tag:qsByo15N1zJmRJ5SfjKXGw==,type:str]
          readinessProbe:
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8080
          startupProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 5
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaQUNFMDUya1gwWjJKZ3di
        Snd2RjVCT1E2K3Q0WlZIaUIwc003eWh5WVNBCnJPeEZ4MmQvUkJJSmIzZHlCYzhz
        QWNLeFQxdlUwNmFLZUtNQWVMSncvdlEKLS0tICtPUnNMSFJBL1FCUWQ2Y0N3dEFJ
        ZmJ4anphalZSRUU0ZTQxeXRWODdJOFUKGgnyiIUi75tUBBsOP7hchI3AEeRfKxwi
        sffrd7rwFTQpfejcCo2g69yS1ClgkobKZZGqPE4pSpMi92ZmuI6Y1g==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-09T15:16:30Z"
  mac: ENC[AES256_GCM,data:3MAJPE27DtKzSKbpuwG6v3npzWDVPPVdFKj4bdmLBM3L3BneqYm0kJxc3VU9VMUKa/xHNQ2p+zaf8DIxXOG8UWixLDsEGTx/KVmZC0T6dusL9CuKgwmMjJ+AW8QBuU1c8R0xP0Qy6rAtN6oNFK4I5iNOOqguE6Pi5hTo6gvLVn0=,iv:5C6hnY03ssimfFUhS2J8QsqKFmsI4uD2rAKGyVs+nxs=,tag:2qO/Dh8KkO5FaLxLj69rdw==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
