apiVersion: apps/v1
kind: Deployment
metadata:
    name: ping-pong-dep
    namespace: exercises
spec:
    replicas: 1
    selector:
        matchLabels:
            app: ping-pong-app
    template:
        metadata:
            labels:
                app: ping-pong-app
        spec:
            containers:
                - name: ping-pong-app
                  image: ping-pong-app:latest
                  imagePullPolicy: Never
                  ports:
                    - containerPort: 8080
                  env:
                    - name: DB_URL
                      value: ENC[AES256_GCM,data:puZLAnEAs0o7908zFCKzqPLEP0Zl9xuiUjNEe8JyqM54lYSIM+UvnJDUvjndyP761bkS87mA7PC6y1DunG5UNEUnz3VYSqM=,iv:ehIckjAGQcJZEE9DDyAeV0VHc6UwnfbB65l+oitEQkA=,tag:coKX/kKQMOpt8hM0UHX2Bg==,type:str]
sops:
    age:
        - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOaDQvcVdTUFFqWE1pTGNP
            OEFYVlI5TUpJRmNlaGxrMy9xZDExOHlTYWljCmxqZW40cDFseXRHRUQwN0xUN09K
            MDNXeGdQNjFFMThldS9MV0NnRGxVaVkKLS0tIGp4SGQ2NDVxaFpqZUxCOTJyZXlN
            dHoweGNTNnFJeURHdFJpeXFVU05NV1kKvifTzD0ngTz1j94yplPK9YAT52ux+8pG
            r5RIAq1a5+Z0zR2w/XqkhrErDI7GAy7ErgOvGAwrpaOVv9uFKwYEMw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-19T14:33:46Z"
    mac: ENC[AES256_GCM,data:u86YBLWR37Xm2KPgs8cvwJS8sYB2i+a8aQwDCqX3fWg9aw66RrkMATfDatJYH9lCkBfbi5A4GaMhDK1RbViNRobo9riGsFnUa+CGlzd8A9S8Dk7Nh/lbYEZtdBmc5A7ZpRkqJVMKAuQFqpSg8zhZBHGVHYlkegDiWGB6JL1J4ws=,iv:WPn5jtibqkgnvBusjsLz8ID9lg4r05epcmHbEeSazEI=,tag:EGzzh4BSBlGmfG6RO2rb6w==,type:str]
    encrypted_regex: (value)
    version: 3.11.0
