apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: postgres-set
    namespace: exercises
spec:
    selector:
        matchLabels:
            app: postgres
    serviceName: postgres
    replicas: 1
    template:
        metadata:
            labels:
                app: postgres
        spec:
            containers:
                - name: postgres
                  image: postgres:13
                  ports:
                    - containerPort: 5432
                      name: postgres
                  env:
                    - name: POSTGRES_USER
                      value: ENC[AES256_GCM,data:CRKZ39dWtn8=,iv:x/ewMU1xWvoUs3ztZJam+/LY7GOIzrDdmGFsgFpyRpA=,tag:8Q6pT/0HHblrJFZq9sTuOw==,type:str]
                    - name: POSTGRES_PASSWORD
                      value: ENC[AES256_GCM,data:MVsxcVfKw4Q=,iv:q3dkkINz+2wvpwRkkid5LO5DfIRoQkSJKhJDReiDwE4=,tag:gdfkk3amYZ7hj6FqbTLnfQ==,type:str]
                    - name: POSTGRES_DB
                      value: ENC[AES256_GCM,data:E2oI1qgXbaVX3A==,iv:ouZ8Z9g9Eq8/z97vJvZL1itJa4qfxJBwQx0hVmtnhds=,tag:n7sMK9tE694SIT/PwuK2nw==,type:str]
                  volumeMounts:
                    - name: pgdata
                      mountPath: /var/lib/postgresql/data
                      subPath: postgres
    volumeClaimTemplates:
        - metadata:
            name: pgdata
          spec:
            accessModes:
                - ReadWriteOnce
            resources:
                requests:
                    storage: 1Gi
sops:
    age:
        - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNQ1E1TUhMT3hiY1VVNXJN
            OForajZjQzVWcnlsenpPakhFY25qekNPMkhNCkY1M2puUUNRQXROSGtubzNmSWVz
            OXVZNDVWNkcrbCtYNWNFdWJ0bTFFMUkKLS0tIFlUMnhTNG9VbTBwUFlYYlRMUjZx
            NnZOZFNzSi8yNFRyZjhJQWJOTjJqdEEKvdmKQbxI+uqLA29b86kjo9vXuaePS/ny
            aSlzTB7IaRb8ZDr5lCEml/2PB/VZ002gTop8wQ/KOlbdorNGHPAQ0g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-25T20:56:15Z"
    mac: ENC[AES256_GCM,data:jm0085Lom4ZsU6FfzpLISZSUlHXKeRRk7fsIZ9rxvYOpDJnK2Pgde1sYGxTp4Jxde34AHYoTdh0Wk8FAGXt8w6+cR2S05Z3BgIk7SlnqA0L3YSToKym20Zeo8XSsEADUQSGGYOnSXOJz92ydjcuUmqwkXDcSNvcbkqiFuiXvKIk=,iv:oQtitPwCOP2vS5BIeM3sofjxdyOqJQu7JsVWT5eoKxA=,tag:6cF1djDTXpt21g0kh0/YcQ==,type:str]
    encrypted_regex: (value)
    version: 3.11.0
---
apiVersion: v1
kind: Service
metadata:
    name: postgres
    namespace: exercises
spec:
    selector:
        app: postgres
    ports:
        - port: 5432
          targetPort: 5432
    type: ClusterIP
sops:
    age:
        - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNQ1E1TUhMT3hiY1VVNXJN
            OForajZjQzVWcnlsenpPakhFY25qekNPMkhNCkY1M2puUUNRQXROSGtubzNmSWVz
            OXVZNDVWNkcrbCtYNWNFdWJ0bTFFMUkKLS0tIFlUMnhTNG9VbTBwUFlYYlRMUjZx
            NnZOZFNzSi8yNFRyZjhJQWJOTjJqdEEKvdmKQbxI+uqLA29b86kjo9vXuaePS/ny
            aSlzTB7IaRb8ZDr5lCEml/2PB/VZ002gTop8wQ/KOlbdorNGHPAQ0g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-25T20:56:15Z"
    mac: ENC[AES256_GCM,data:jm0085Lom4ZsU6FfzpLISZSUlHXKeRRk7fsIZ9rxvYOpDJnK2Pgde1sYGxTp4Jxde34AHYoTdh0Wk8FAGXt8w6+cR2S05Z3BgIk7SlnqA0L3YSToKym20Zeo8XSsEADUQSGGYOnSXOJz92ydjcuUmqwkXDcSNvcbkqiFuiXvKIk=,iv:oQtitPwCOP2vS5BIeM3sofjxdyOqJQu7JsVWT5eoKxA=,tag:6cF1djDTXpt21g0kh0/YcQ==,type:str]
    encrypted_regex: (value)
    version: 3.11.0
