apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-set
spec:
  selector:
    matchLabels:
      app: postgres
  serviceName: postgres
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:13
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              value: ENC[AES256_GCM,data:w4D87FhepX4=,iv:I04+XwTV5zpx1bqtd1KvSA5zuey0G+Qs729Td4+DGGc=,tag:K7J1r90qI9wvHq+qnnFC6A==,type:str]
            - name: POSTGRES_PASSWORD
              value: ENC[AES256_GCM,data:MQUC2fMkEQo=,iv:kPc+ZUXPgeWzh7Ka3y0/Jjrc9wFCd+maNshwzVkgw9A=,tag:mDSqvfqmE2vg4UmtLUCiHQ==,type:str]
            - name: POSTGRES_DB
              value: ENC[AES256_GCM,data:+0mKC86TkdaLIg==,iv:1AtDDsh6U6JApJhlvh3hmz0hsydoJDF+fgF4fXjAaII=,tag:iYTtDhClXqIGHaHIhMwtbw==,type:str]
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
              subPath: postgres
  volumeClaimTemplates:
    - metadata:
        name: pgdata
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4dUpuRmpwZ0NYSm1jbkxS
        RjMxTzBGSlRwMDQ5ZFVzZE1JakZ2MDdyUlVvCnpSekJkTGFHUmIzbDdEM2dZOHdI
        bEJzYWZUYS9IeXNBaEE0VXQ2Ynd2aWsKLS0tIFYzaG1DV3ZoRExoSnUrRE4zMU9Q
        SERkTnYxT2I4cWtDY2g4dnRkUkNQUFEKQsQnCGakyXzooNK6ffwU0OscfedvB/Na
        SiZzxwiScF1xCvYSi4qG+K/bzsH7HA7QIk+8p3JwfjK+wAddaBSJdg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-14T16:08:09Z"
  mac: ENC[AES256_GCM,data:3y5KxQ5ZEMZwK/lKK862T5GKJZQI3zqJs51RraT8bywJSVQNq5/2BYkZjdnYkRVNbzsRsNopOKo4CsMmjTx9LozaNOxwSrajA2WEecSEHTuB2wmLiHUhj/kKscbRPD7K2rnnuGBu9PfvFqrhqr2mKftFs3GVnsgjaP2jxiArRMo=,iv:sOJn3nqppcrCfbYbE2qRf0dmCBnMwQgM45UwEx7ESYQ=,tag:JJlujICwNYDKZ5+JphBLPw==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP
sops:
  age:
    - recipient: age1ekqjgmayst3ugq4fv405gts384l7jd4d4fqnpazxwg5v0vauwfjqa2x7pc
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4dUpuRmpwZ0NYSm1jbkxS
        RjMxTzBGSlRwMDQ5ZFVzZE1JakZ2MDdyUlVvCnpSekJkTGFHUmIzbDdEM2dZOHdI
        bEJzYWZUYS9IeXNBaEE0VXQ2Ynd2aWsKLS0tIFYzaG1DV3ZoRExoSnUrRE4zMU9Q
        SERkTnYxT2I4cWtDY2g4dnRkUkNQUFEKQsQnCGakyXzooNK6ffwU0OscfedvB/Na
        SiZzxwiScF1xCvYSi4qG+K/bzsH7HA7QIk+8p3JwfjK+wAddaBSJdg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-14T16:08:09Z"
  mac: ENC[AES256_GCM,data:3y5KxQ5ZEMZwK/lKK862T5GKJZQI3zqJs51RraT8bywJSVQNq5/2BYkZjdnYkRVNbzsRsNopOKo4CsMmjTx9LozaNOxwSrajA2WEecSEHTuB2wmLiHUhj/kKscbRPD7K2rnnuGBu9PfvFqrhqr2mKftFs3GVnsgjaP2jxiArRMo=,iv:sOJn3nqppcrCfbYbE2qRf0dmCBnMwQgM45UwEx7ESYQ=,tag:JJlujICwNYDKZ5+JphBLPw==,type:str]
  encrypted_regex: (value)
  version: 3.11.0
