name: Build and Publish Apps

on:
  push:

jobs:
  build-and-update:
    name: Build & Update ${{ matrix.app }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - app: ping_pong_app
            image: kirillstrelkov/ping-pong-app
            kust_dir: ping_pong_app/kust-argocd
            docker_context: ping_pong_app
            kust_image_name: PING_PONG_APP

          - app: log_output
            image: kirillstrelkov/log-output
            kust_dir: log_output
            docker_context: log_output
            kust_image_name: LOG_OUTPUT_APP

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - '${{ matrix.app }}/**'

      - name: Login to Docker Hub
        if: steps.changes.outputs.src == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        if: steps.changes.outputs.src == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.docker_context }}
          push: true
          tags: ${{ matrix.image }}:${{ github.sha }}

      - name: Set up Kustomize
        if: steps.changes.outputs.src == 'true'
        uses: imranismail/setup-kustomize@v2

      - name: Update Kustomization Image
        if: steps.changes.outputs.src == 'true'
        run: |
          cd ${{ matrix.kust_dir }}
          kustomize edit set image ${{ matrix.kust_image_name }}=${{ matrix.image }}:${{ github.sha }}

      - name: Commit and Push changes
        if: steps.changes.outputs.src == 'true'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(${{ matrix.app }}): update image tag to ${{ github.sha }}"
          file_pattern: "${{ matrix.kust_dir }}/kustomization.yaml"
