name: Delete Environment

on:
  delete:

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b

jobs:
  delete-namespace:
    name: Delete Namespace
    runs-on: ubuntu-latest
    environment: test-env

    steps:
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GKE_SA_KEY }}"

      - name: "Set up Cloud SDK"
        uses: google-github-actions/setup-gcloud@v2

      - name: "Get GKE credentials"
        uses: "google-github-actions/get-gke-credentials@v2"
        with:
          cluster_name: "${{ env.GKE_CLUSTER }}"
          project_id: "${{ env.PROJECT_ID }}"
          location: "${{ env.GKE_ZONE }}"

      - name: Delete Namespace
        run: |-
          BRANCH="${{ github.event.ref }}"
          NAMESPACE=$(echo "$BRANCH" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9]/-/g')
          NAMESPACE=${NAMESPACE#refs-tags-}
          NAMESPACE=${NAMESPACE#refs-heads-}

          echo "Detected deletion of branch: $BRANCH"
          echo "Target Namespace: $NAMESPACE"

          if [ "$NAMESPACE" == "project" ]; then
            echo "Safety Lock: Skipping deletion of the 'project' (main) namespace."
            exit 0
          fi

          kubectl delete namespace $NAMESPACE --ignore-not-found
